# Project exclude paths
/src/db/database.js
/src/db/init.js
/src/Middleware/verifyToken.js
/src/Models/Models.js
/src/Models/User.js
/src/Services/authService.js
/src/Services/eventsService.js
/src/Services/uploadService.js
/src/Services/userService.js
/src/Tests/user.test.js
/src/server.js
.vercel
/api
/.idea
vercel.json
/node_modules